﻿@model IEnumerable<CustomerDataApi.Models.Customer>

@{
    ViewData["title"] = "Distance";
}

<button class="p-2 bg-warning mb-5">
    <a asp-controller="Customers" asp-action="Index" class="text-decoration-none text-light">
        <i class="fa-solid fa-arrow-up-from-bracket pe-2"></i> Go Back
    </a>
</button>

<div>
    Select Customer to get distance :
    <select id="option" class="p-2">
        @foreach (var item in Model)
        {
                <option value="@item._id">
                @Html.DisplayFor(modelItem => item.name)
                </option>
        }
    </select>
    <button class="btn-outline-success p-2" onclick="setId()"> Get distance </button>
</div>

<script>
    function setId() {
        var selectedCustomer = document.getElementById("option").value;
        window.location.href = "/Customers/GetDistance/" + selectedCustomer;
    }
</script>