﻿@model CustomerDataApi.Models.Customer

@{
    ViewData["Title"] = "EditCustomer";
}
<button class="p-2 bg-warning mb-5">
    <a asp-controller="Customers" asp-action="Edit" class="text-decoration-none text-light">
        <i class="fa-solid fa-arrow-up-from-bracket pe-2"></i> Go Back
    </a>
</button>

<h1>Edit Customer</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Customers" asp-action="EditCustomer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="_id" />
            <div class="form-group">
                <label asp-for="index" class="control-label"></label>
                <input asp-for="index" class="form-control" />
                <span asp-validation-for="index" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="eyeColor" class="control-label"></label>
                <input asp-for="eyeColor" class="form-control" />
                <span asp-validation-for="eyeColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="company" class="control-label"></label>
                <input asp-for="company" class="form-control" />
                <span asp-validation-for="company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label"></label>
                <input asp-for="phone" class="form-control" />
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="about" class="control-label"></label>
                <input asp-for="about" class="form-control" />
                <span asp-validation-for="about" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="registered" class="control-label"></label>
                <input asp-for="registered" class="form-control" />
                <span asp-validation-for="registered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitude" class="control-label"></label>
                <input asp-for="latitude" class="form-control" />
                <span asp-validation-for="latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="longitude" class="control-label"></label>
                <input asp-for="longitude" class="form-control" />
                <span asp-validation-for="longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
