﻿@{
    ViewData["title"] = "Distance";
}

<button class="p-2 bg-warning mb-5">
    <a asp-controller="Customers" asp-action="Distance" class="text-decoration-none text-light">
        <i class="fa-solid fa-arrow-up-from-bracket pe-2"></i> Go Back
    </a>
</button>

<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center p-5">
    <h3> Customer : <span class="text-info"> @ViewBag.CustomerName </span> </h3>
    <h2 class="fw-light"> Distance from Fidenz : <span class="fw-bold"> @ViewBag.Distance </span> </h2>
</div>