﻿@model IEnumerable<CustomerDataApi.Models.Customer>

@{
    ViewData["title"] = "Customers";
}

<div class="d-flex flex-row flex-wrap align-content-center justify-content-center customers-action-wraper">
    <a class="nav-link text-info m-3" asp-area="" asp-controller="Customers" asp-action="Edit"> Edit Customer </a>
    <a class="nav-link text-info m-3" asp-area="" asp-controller="Customers" asp-action="Distance"> Get Distance </a>
    <a class="nav-link text-info m-3" asp-area="" asp-controller="Customers" asp-action="SearchCustomer"> Search Customer </a>
    <a class="nav-link text-info m-3" asp-area="" asp-controller="Customers"> Get Customer list grouped by Zip code </a>
</div>

