﻿@model CustomerDataApi.Models.Customer;

@{
    ViewData["title"] = "Search";
}

<div class="d-flex flex-column">
    <p> Enter Customer Name </p>

    <form asp-controller="Customers" asp-action="SearchResult" method="post">
    <div class="form-group">
        <label asp-for="name" class="control-label"></label>
        <input asp-for="name" class="form-control" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <input type="submit" value="Search" class="btn btn-primary my-3" />
    </form>
</div>
